﻿@{
    ViewData["Title"] = "Меню Яндекс Еда";
}
@model IQueryable<Product>

@if (ViewBag.TheResult == true) {
<div class="alert alert-success">
    <strong>Синхронизация успешно завершена!</strong>
</div>
}

<row>
    <h3>Delivery Club меню</h3>
</row>

<row>
    <a class="btn btn-primary" asp-action="Sync">Синхронизация</a>
</row>

<row>
    <hr></hr>
</row>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id").Hidden();
        columns.Add(model => model.Name).Titled("Наименование").RenderedAs(model=>Html.ActionLink(model.Name,"Edit" , "DeliveryClubMenu",new {id = model.Id}));

        columns.Add(model => model.BindingName).Titled("Соответствие Iiko");
        columns.Add(model => model.GroupName).Titled("Группа");
        columns.Add(model => model.Type).Titled("Тип");
        columns.Add(model => model.PlaceName).Titled("Ресторан");
        columns.Add(model => model.IsActive?"Да":"Нет").Titled("Активный");
    })
    .Using(GridFilterMode.Header)
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
    )
