﻿@{
    ViewData["Title"] = "Меню Iiko Biz";
}
@model IQueryable<Product>

@if (ViewBag.TheResult == true) {
    <div class="alert alert-success" >             
        <strong>Синхронизация успешно завершена!</strong>
    </div>
}

<row>
    <h3>Iiko biz меню</h3>
</row>

<row>
    <a class="btn btn-primary" asp-action="Sync">Синхронизация</a>
</row>

<row>
    <hr></hr>
</row>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id").Hidden();
        columns.Add(model => model.Name).Titled("Наименование");
        columns.Add(model => model.GroupName).Titled("Группа");
        columns.Add(model => model.Type).Titled("Тип");
        columns.Add(model => model.IsActive?"Да":"Нет").Titled("Активный");
    })
    .Using(GridFilterMode.Header)
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
    )

